/* This is an example of using Sass, otherwise plain CSS works too*/
$primary-background: grey;
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&family=Merriweather:ital,wght@0,300;0,900;1,700;1,900&display=swap');

html, body {
  height: 100%;
  width: 100vw;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;

  header {
    background-color: purple;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: .75em 1.5em;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        margin: .5em;
      }
    }

    #logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;

      h1 {
        margin: 0;
      }

      img {
        height: 2.5em;
        width: auto;;
      }
    }
  }

  main {
    width: 100%;
    grid-row: 2;
    background-color: darkgoldenrod;

    section {
      // padding: 2em;

      .trips {
        display: flex;
        flex-direction: row;
        flex: 1 1 40%;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .trip-card {
        display: grid;
        place-items: center;
        background-color: rgba(255,255,255,.3);
        box-shadow: 3px 3px 3px #000;
        height: max-content;
        width: max-content;
        margin:1.5em 1.5em;
        border-radius: 1em;
        position: relative;

        img {
          position: absolute;
          width: 24em;
          height: 18em;
          border-radius: 1em;
        }

        .card-text {
          color: white;
          z-index: 1;
          width: 24em;
          height: 19em;
          background-color: rgba(0, 0, 0, .42);
          text-shadow: #000 3px 3px 3px;
          border-radius: 1em;
          padding: 1em;
        }

        button {
          background-color: #fbc;
        }
      }
    }
  }

  footer {
    grid-row: 3;
  }

  .main-font {
    font-family: 'Merriweather', serif;
  }

  .secondary-font {
    font-family: 'Grandstander', cursive;
  }

  .light {
    font-weight: 300;
  }

  .italic {
    font-style: italic;
  }

  button {
    border-radius: .325em;
    padding: .25em;
  }

  .hidden {
    display: none;
  }
}
